<!DOCTYPE html>
<html>
  <head>
    <title>NotDiscord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.androidURL = "<%= image_url('android.svg') %>"
    </script>
     <script type="text/javascript">
      window.bombURL = "<%= image_url('bomb.svg') %>"
    </script>
     <script type="text/javascript">
      window.cartridgeURL = "<%= image_url('cartridge.svg') %>"
    </script>
     <script type="text/javascript">
      window.coinURL = "<%= image_url('coin.svg') %>"
    </script>
     <script type="text/javascript">
      window.controllerURL = "<%= image_url('controller.svg') %>"
    </script>
     <script type="text/javascript">
      window.desktopURL = "<%= image_url('desktop.svg') %>"
    </script>
     <script type="text/javascript">
      window.headphonesURL = "<%= image_url('headphones.svg') %>"
    </script>
     <script type="text/javascript">
      window.iphoneURL = "<%= image_url('iphone.svg') %>"
    </script>
     <script type="text/javascript">
      window.laptopURL = "<%= image_url('laptop.svg') %>"
    </script>
     <script type="text/javascript">
      window.marioboxURL = "<%= image_url('mario_box.svg') %>"
    </script>
    <script type="text/javascript">
      window.circleURL = "<%= image_url('circle.svg') %>"
    </script>
    <script type="text/javascript">
      window.squareURL = "<%= image_url('square.svg') %>"
    </script>
    <script type="text/javascript">
      window.triangleURL = "<%= image_url('triangle.svg') %>"
    </script>
    <script type="text/javascript">
      window.dotURL = "<%= image_url('dot.svg') %>"
    </script>

    <script type="text/javascript">
      window.xURL = "<%= image_url('x.svg') %>"
    </script>

     <script type="text/javascript">
      window.potionURL = "<%= image_url('potion.svg') %>"
    </script>

     <script type="text/javascript">
      window.weightURL = "<%= image_url('weight.svg') %>"
    </script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.svg') %>"
    </script>

    <script type="text/javascript">
      window.createserver = "<%= image_url('createserver.png') %>"
    </script>

    <script type="text/javascript">
      window.joinserver = "<%= image_url('joinserver.png') %>"
    </script>

    <script type="text/javascript">
      window.flag = "<%= image_url('flag.png') %>"
    </script>

    <script type="text/javascript">
      window.wumpus = "<%= image_url('wumpus.svg') %>"
    </script>

    <script type="text/javascript">
      window.logout = "<%= image_url('logout.svg') %>"
    </script>

    <script type="text/javascript">
      window.notdiscordlogo = "<%= image_url('notdiscordlogo.png') %>"
    </script>

    <script type="text/javascript">
      window.delete = "<%= image_url('delete.png') %>"
    </script>

     <script type="text/javascript">
      window.online = "<%= image_url('online.png') %>"
    </script>

    <script type="text/javascript">
      window.offline = "<%= image_url('offline.png') %>"
    </script>

    <script type="text/javascript">
      window.garbagecan = "<%= image_url('garbagecan.png') %>"
    </script>

    <script type="text/javascript">
      window.addfriend = "<%= image_url('addfriend.png') %>"
    </script>

     <script type="text/javascript">
      window.deletefriend = "<%= image_url('deletefriend.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
